parameters:
	level: 8
	paths:
		- app
		- database/factories
		- database/seeders
		- routes
		- tests

	ignoreErrors:
	    -
	        message: '#^Undefined variable: \$this$#'
	        paths:
	            - routes/console.php
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall::.*\(\).#'
	        paths:
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\Expectation.*\(\).#'
	        paths:
	            - tests/*
